<ion-view view-title="Medicines">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="medicine in medicines" type="item-text-wrap" href="#/tab/medicines/{{medicine.medicineId}}">
        <img ng-src="img/healthy.png">
        <h2>{{medicine.medicineId}}</h2>
        <p>By {{medicine.doctorId}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(medicine)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
